.friend_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
  font-size: 25px;
  line-height: 1;
  letter-spacing: -0.02em;
}

.friend_on {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.23;
  letter-spacing: -0.02em;
  color: greenyellow;
}

.friend_of{
    font-weight: 300;
  font-size: 15px;
  line-height: 1.23;
  letter-spacing: -0.02em;
  color: red;
}